
#input-box {
  text-align: center;
  top: 11px;
  margin-top: 10px;
  position: relative;
}

ion-card-title{
  font-size: 12px;
}

.v-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  border-radius: 26px;
  text-transform: uppercase;
}
.text-c{
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  top: 10px;
}
