#header {
  height: 75px;
  background-color: #3056d3;
  width: 100%;
  padding: 12px;
}

img {
  width: 50px;
}
#chat-icon {
  float: right;
  color: #fff;
  height: 35px;
  width: 35px;
  right: 15px;
  position: relative;
}
#logout {
  float: right;
  position: relative;
  right: 8px;
  top: 15px;
  color: #fff;
  font-size: 24px;
}
