#header {
  height: 100px;
  background-color: #fff;
}
span {
  color: #4243a8;
  font-size: 20px;
  font-weight: bold;
}
#logo-block {
  top: 40px;
  position: relative;
  margin-left: 10px;
}
#chat-icon {
  float: right;
  color: #fff;
  height: 35px;
  width: 35px;
  right: 15px;
  position: relative;
}
#logout {
  float: right;
  position: relative;
  right: 8px;
  top: 15px;
  color: #4243a8;
  font-size: 24px;
}
