<ion-header id="header">
  <div class="row">
    <div class="col" style="float: left;">
      <img src="/assets/images/rayo_logo.png" alt="">
    </div>
    <div class="col" *ngIf="isSessionActive" id="logout">
      <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
    </div>

    <!-- <div class="col" id="logo-block">
      <img src="/assets/images/rayo_logo.png" alt="">
    </div>
    <div class="col" *ngIf="isSessionActive" id="logout">
      <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
    </div> -->
  </div>
</ion-header>
