#header {
  height: 75px;
  // background-color: #3056d3;
  width: 100%;
  padding: 12px;
}

img {
  width: 50px;
  margin-left: 10px;
}
#chat-icon {
  float: right;
  color: #fff;
  height: 35px;
  width: 35px;
  right: 15px;
  position: relative;
}
#logout {
  font-size: 25px;
}
#user{
  font-size: 45px;
  padding-bottom: 12px;
  margin-left: 11px;
}
ion-header {
  ion-toolbar {
    // set background color
    --background: #3056d3;
    // set icon/text color
    --color: #ffffff;
    height: 100px;
  }
}
main{
  --background: #3056d3 !important;
  background-color: #3056d3 !important;
}

.menu-content{
  background-color: #3056d3
}