.header {
  background-color: #80808038;
  height: 50px;
  padding: 14px;
  font-size: 18px;
  font-weight: 500;
}
.container {
  min-height: 100% !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  justify-content: center !important;
}
.card-left {
  height: auto;
  width: 20%;
  float: left;
  padding: 6px;
  margin-top: 30px;
}
.card-right {
  margin-top: 10px;
  height: auto;
  float: right;
  display: flex;
  width: 80%;
}
.add-card {
  height: 25px;
}
.card-t {
  padding: 6px;
  margin-top: 10px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 500;
}
ion-card {
  background: linear-gradient(to bottom, #3c88e8f2 80%, #3c88e852 97%);
  max-height: 100%;
  width: 100%;
}
hr {
  height: 3px;
  border-width: 0;
  box-sizing: content-box;
  background-color: #80808038;
  width: 100%;
  top: 5px;
  position: relative;
}
.bio {
  position: absolute;
  top: 9px;
  right: 0;
  width: 100%;
}

.bio ion-label {
  float: left;
}
.bio ion-toggle {
  margin-top: -8px;
}

.qrcodeImage {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

/* Add custom styles here */
.center {
  display: flex;
  flex: 1;
  justify-content: center;
}
.address{
  text-align: center;
    font-size: 10px;
    font-weight: 600;
}