
ion-card-title {
  font-size: 20px;
  color: #3056d3;
  text-align: center;
  position: relative;
  top: 20px;
}

.logo-c {
  width: 120px;
}
#register {
  position: relative;
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
}
#r-link {
  font-weight: 800;
  cursor: pointer;
  text-decoration: underline;
}

form {
  width: 80%;
}

.fing {
  font-size: 40px;
  color: #3056d3;
}
