
<app-header></app-header>
<ion-content>
  <div class="container">
    <ion-card-title>Register</ion-card-title>
    <div id="logo-c">
      <img src="assets/images/rayo_logo.png" class="logo-c" alt="saldo logo">
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
      <mat-form-field style="width: 100%;">
        <mat-label>Username</mat-label>
        <input type="text" matInput name="username" ngModel required>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Phone</mat-label>
        <input type="text" matInput name="phone" placeholder="enter phone with country code"  ngModel required>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Password</mat-label>
        <input type="password" matInput name="password" maxlength="8" ngModel required>
      </mat-form-field>

      <section class="btn-sec">
        <button class="resbtn" [disabled]="!form.valid" mat-raised-button>Register</button>
      </section>
      <div id="register">
        <span>Already registered? <span id="r-link" (click)="goToLogin()">Login now</span></span>
      </div>
    </form>
  </div>
</ion-content>