<app-header></app-header>
<ion-content>
  <!-- refresher start -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)" pullMin="100">
    <ion-refresher-content refreshingSpinner="lines"> </ion-refresher-content>
  </ion-refresher>
  <!-- refresher end -->
  <div class="title">
    <span>History</span>
  </div>
  <ion-grid>
    <ion-row style="font-size: 12px; font-weight: 600;">
      <ion-col>Kind</ion-col>
      <ion-col>Asset(USDC)</ion-col>
      <ion-col style="text-align: right;">status</ion-col>
    </ion-row>
    <ion-row style="font-size: 12px;" *ngFor="let item of withdrawalTransactions">
      <ion-col>{{item.kind}}</ion-col>
      <ion-col style="text-align: center;">{{item.amount}}</ion-col>
      <ion-col style="text-align: right;">{{item.status}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
