.usd-a {
  position: absolute;
  right: 25px;
}
p {
  font-size: 14px;
}

.title {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}
.alrt {
  float: right;
  background-color: #ef1f1fed;
  width: 18px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  height: 19px;
  margin-left: 2px;
}
.check {
  font-size: 21px;
  position: absolute;
  color: green;
  top: -2px;
}
