<app-header></app-header>
<ion-content>
  <!-- refresher start -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)" pullMin="100">
    <ion-refresher-content refreshingSpinner="lines"> </ion-refresher-content>
  </ion-refresher>
  <!-- refresher end -->
  <div class="detail">
    <span class="amt">{{userBalance}}</span>
    <span style="font-size: 14px;">in USD</span>
    <button class="i-btn" mat-raised-button (click)="showInvoiceModal()">Pay Invoice</button>
    <button class="send-btn" mat-raised-button (click)="showWithdrawalModal()">Send USDC</button>
    <div class="txns">
      <span>Last transactions</span>
      <ion-list>
        <ion-item *ngFor="let item of withdrawalTransactions">
          <ion-label *ngIf="item.status!=='taken'">
            <p>Invoice Payment <span class="usd-a">{{item.amount_out}} USD</span></p>
            <p style="margin-bottom: 2px">{{item.amount_in}} sats</p>
          </ion-label>
          <ion-label (click)="showStatusModal(item)" *ngIf="item.status==='taken'">
            <p>Offer Taken <span class="usd-a">{{item.amount}} USD
                <div class="alrt"
                  *ngIf="(!item.taker_confirmed && !item.isOwner) || (!item.creator_confirmed && item.isOwner)">!</div>
                <ion-icon name="checkmark-sharp" class="check"
                  *ngIf="(item.taker_confirmed && !item.isOwner) || (item.creator_confirmed && item.isOwner)">
                </ion-icon>
              </span>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <h3 (click)="goToHistory()">see more...</h3>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
