.i-btn {
  padding: 0px;
  background-color: #3056d3;
  color: #fff;
  border-radius: 34px;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}
.ques {
  font-size: 16px;
  font-weight: bold;
}
.amt {
  font-size: 10px;
  font-weight: 500;
}

.close {
  font-size: 30px;
  position: absolute;
  right: 5px;
  margin-top: 8px;
  z-index: 100;
}

.inf {
  width: 90%;
  text-align: center;
  margin-top: 55px;
  background-color: #edebeb9e;
  padding: 15px;
  margin-left: 5%;
  color: #6c6969;
}

.container-div {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 96%;
  margin-left: 3%;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container-div::after {
  content: "";
  clear: both;
  display: table;
}

.container-div img {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-div img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.icon {
  height: 40px !important;
  width: 40px !important;
}

.refresh-i {
  font-size: 35px;
  color: #3056d3;
}
