<div *ngIf="!showSuccess">
  <div class="close">
    <ion-icon name="close-circle-outline" (click)="dismiss()"></ion-icon>
  </div>
  <div style="margin-top: 25px;">
    <form #form="ngForm">
      <ion-item>
        <ion-textarea style="font-size: 12px;" rows="1" ngModel name="walletAddress"
          placeholder="Enter user address here..."></ion-textarea>
      </ion-item>
      <!-- Input with placeholder -->
      <ion-input type="number" value="0.00" class="amt" placeholder="Enter amount" name="usdAmount" ngModel required>
      </ion-input>
      <div>
        <button class="c-btn" mat-raised-button (click)="clearInput(form)">Clear</button>
        <button type="submit" class="i-btn" [disabled]="false" mat-raised-button
          (click)="sendPayment(form)">Send</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="showSuccess">
  <div class="close">
    <ion-icon name="close-circle-outline" (click)="dismiss()"></ion-icon>
  </div>
  <div class="overlay-main">
    <div>
      <img src="assets/images/success-ok.png" height="100" alt="">
    </div>
    <div style="text-align: center;">
      <span class="com-text">Completed</span>
      <br />
      <span class="long-text">You transaction has been successful</span>
    </div>
  </div>
</div>
